body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
}

.active-hover {
  background-color: #e7e7e7;
  color: #555;
}

.flash-disabled-only{
  display: none;
}

.img-responsive{
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Added padding for about page image */
#about-page .img-responsive.img-rounded {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.lead{
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 10px;
}

.navlink {
  cursor: pointer;
}

.navbar-brand.navlink {
    border-right: 2px solid #e7e7e7;
}

.no-padding-right{
  padding: 10px 0px 10px 20px;
}

.panel {
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.webcam{
  margin: 10px 0px 5px 0px;
}

.iframe-no-padding {
  padding: 0 0 0 0;
}

.version-no {
  bottom: 0;
  float: right;
  padding-right: 5px;
  right: 0;
}

.re-design {
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 680px) {
  .small-screen-hide {
    display: none;
  }
}

@media only screen and (min-width: 680px) {
  .small-screen-show {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .small-screen-menu {
    display: none;
  }
}

@media only screen and (min-width: 991px) {
  .large-screen-menu {
    display: none;
  }
}
