body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

.active-hover {
    background-color: #e7e7e7;
    color: #555;
}

.img-responsive {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
}

.lead {
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 10px;
}

.navlink {
    cursor: pointer;
}

.navbar-brand.navlink {
    border-right: 2px solid #e7e7e7;
    margin-right: 10px;
}

.panel.panel-default.lgc-weather {
    padding: 10px 0 10px 20px;
}

.panel {
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.webcam {
    margin: 10px 0 5px 0;
}

.welcome-link:hover {
    text-decoration: none;
}

.welcome-link h2,
.welcome-link p {
    text-align: center;
    margin-top: 10px;
}

.welcome-link p {
    color: #000000;
}

.welcome-link .panel:hover {
    background-color: #f4f4f4;
}

.page-name {
    color: #777;
    padding: 14px 14px;
    margin: 0;
    font-size: 16px;
}

.small-screen-menu {
    display: none;
}

.large-screen-menu {
    display: block;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .large-screen-menu {
        display: none;
    }

    .small-screen-menu {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .large-screen-menu {
        display: block;
    }

    .small-screen-menu {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .page-name {
        display: none;
    }

    .navbar-brand.navlink {
        margin-right: 0;
    }
}
